nav {
    background-color: aquamarine;
    padding: 16px;
    border-bottom: 1px solid black;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

tr:nth-child(even) {
background-color: rgb(226, 226, 226);
}

h1 {
    color:rgb(11, 189, 130)
}

main a {
    color:rgb(11, 189, 130);
    text-decoration: none;
}

img{
    height: 200px;
}


.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer{
    background-color: black;
    color:rgb(11, 189, 130);
    padding: 40px;
    font-size: 20px;
}
